<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
     <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable({{ candle|safe }}, true);

    var options = {
      legend:'none',
      reponsive:'true',
    };

    var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
    </script>
    <meta charset="UTF-8">
    <title>Koscom Garage Project</title>
</head>
<body>
<h1><a href="">Koscom Garage Project</a></h1>

<div>
    <p> Django test web page</p>
</div>

<div>
    <a href="ftp://ch930701.ipdisk.co.kr"> my ftp server </a>
</div>
<div id="chart_div" style="width: 1800px; height: 500px;"></div>

<div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'line',
      data: {
        datasets: [{
          data: {{ data|safe }},
          label: 'BTCUSTD Closing Price',
          backgroundColor: 'rgba(0,200,0,0)',
          borderColor: 'rgba(0,255,0,1)',
        }],
        labels:{{ labels|safe }},
      },
      options: {
        responsive: true

      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>

</body>
</html>